.schema-options{
  @include flexbox();
  @include flex-flow(row wrap);
  @include justify-content(space-between);
  .container-form {
    @include flex(0 calc(50% - 60px));
    tr {
      @include flexbox();
      @include flex-flow(row wrap);
      width: 100%;
      th {
        width: 100%;
        display: block;
        padding: 0;
        margin: 15px 0 0 0;
      }
      td {
        margin-top: 0px;
        padding: 0;
      }
      input{
        min-width: 220px;
      }

      textarea {
        min-height: 370px;
        min-width: 420px;
      }
    }
  }
  .container-code{
    @include flex(0 calc(50% - 60px));
  }
}