// variables
$color1: #000;
$color2: #efefef;
$color3: #0055b8;
$color4: #ff5a41;

$text-color: #8d97ad;
$error: #e72517;
$good: #40ee35;
$header-color: #2f2e2f;

$border-color: darken($color2, 70);
$gutter: 1.2rem;
$border-radius: .25rem;

$mq-laptop: 768px;
$mq-desktop: 960px;

$sb-width: 200px;
$sb-width-mq: 36px;
$tb-height: 32px;
$tb-height-mq: 46px;